doctype html
html
	include ../head
	body
		include ../navbar
		
		.wrapper
			.header
			.container-fluid
				.row.top7
					.col.col-md-5.col-md-offset-3.col-sm-7.col-sm-offset-3
						.panel
							.panel-body
								form#formPesquisaUsuario(action="/")
									label.control-label(for="pesquisaUsuario") Pesquisar
									input#pesquisaUsuario.form-control(type="text", autofocus)

						- each encontrado in usuariosEncontrado
							.panel
								.panel-body
									.col.col-xs-3.col-md-2.top7
										img.img-responsive(src='/img/post/#{encontrado.imagemPerfil}')
									.col.col-xs-7.top7
										h3
											a(href='../#{encontrado.nome}') #{encontrado.nome}
											.pull-right #{encontrado.nomeCompleto}

				button.fixed-right-bottom.btn.btn-primary.btn-fab.btn-fab-mini.btn-round
					i.material-icons camera_alt
						.ripple-container