<head>
	<title>Demerge</title>
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/material-kit.css" rel="stylesheet">
	<link href="/css/material-kit.css.map" rel="stylesheet">
	<link href="/css/master.css" rel="stylesheet">

	<script src="/socket.io/socket.io.js"></script>
	<script src="/js/jquery.min.js" type="text/javascript"></script>
	<script src="/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="/js/material.min.js"></script>
	<script src="/js/material-kit.js" type="text/javascript"></script>
	<script src="/js/master.js"></script>

	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
</head>
