<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Demerge</title>
	</head>
	<link rel="stylesheet" href="/css/bootstrap.min.css">

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://localhost:3000/socket.io/socket.io.js"></script>
	<script src="js/master.js"></script>
	<body>
		<div class="container">
			<div class="row">
				<div class="col">
					<ul id="notes" class="list-group"></ul>
					<div id="usersConnected"></div>
					<button type="button" id="newNote" class="btn btn-primary">Create a new note</button>
				</div>
			</div>
		</div>
	</body>
</html>
