button#btnUploadFoto.fixed-right-bottom.btn.btn-primary.btn-fab.btn-fab-mini.btn-round
    i.material-icons camera_alt
        .ripple-container
form#formPost(action="post/novo", method="post", enctype="multipart/form-data")
    input#fileFoto.hide(type="file", multiple)

//- btn abrir modal
a#btnModalPostar.hide(href="#", data-toggle="modal", data-target="#modalPostar")

//- modal
#modalPostar.modal.fade(role="dialog")
    .modal-dialog
        .modal-content
            .modal-header
                button#btnPostar.btn.btn-success Postar

                button#btnCloseModal.close(type="button", data-dismiss="modal")
                    span(aria-hidden="true") &times;

            .modal-body.overflow-auto
                .row.top7
                    .col.col-md-5.col-md-offset-3
                        img#fotoPreview.img-responsive